<!-- header.html (ch07www project) -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <div class='navbar-brand' align=center>
                我有話要說
            </div>
        </div>
        <ul class='nav navbar-nav'>
            <li class='active'><a href='/'>Home</a></li>
            <li><a href='/list'>列表</a></li>
            <li><a href='/post'>張貼</a></li>
            <li><a href='/contact'>聯絡我</a></li>
            <li><a href='/admin'>後台管理</a></li>  
        </ul>
    </div>
</nav>
